@import "bootstrap-sprockets";
@import "bootstrap";

#content {
  padding:10px 14px;
  }

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}